#!/bin/bash

set -eufo pipefail

brew tap homebrew/cask-fonts

{{ $brews := list
     "age"
     "bat"
     "curl"
     "diff-so-fancy"
     "git"
     "gopass"
     "jq"
     "lsd"
     "pinentry-mac"
     "wget"
     "xz"
     "yt-dlp"
     "zsh" -}}
{{ $casks := list
     "font-hack-nerd-font"
     "font-meslo-lg-nerd-font"
     "rar"
     "visual-studio-code" -}}

{{ if eq .chezmoi.arch "amd64" -}}
{{   $brews = concat $brews (list
       "shellcheck") -}}
{{   $casks = concat $casks (list
       "virtualbox"
       "virtualbox-extension-pack") -}}
{{ end -}}

{{ if .personal -}}
{{   $brews = concat $brews (list
       "kubectx"
       "kubernetes-cli") -}}
{{   $casks = concat $casks (list
       "aws-vault"
       "rectangle") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
