{{ if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -eufo pipefail

# Reference:
# https://github.com/atomantic/dotfiles/blob/main/install.sh

# Finder: show hidden files by default
defaults write com.apple.Finder AppleShowAllFiles -bool true

# Finder: set window title to full POSIX file path of current folder
defaults write com.apple.finder _FXShowPosixPathInTitle -bool true

# Finder: show status bar
defaults write com.apple.finder ShowStatusBar -bool true

# Show the ~/Library folder
chflags nohidden ~/Library

# Set highlight color to neon green
defaults write NSGlobalDomain AppleHighlightColor -string "0.223500 1.000000 0.078400 Other"

# Bottom right screen corner → Start screen saver
defaults write com.apple.dock wvous-br-corner -int 5
defaults write com.apple.dock wvous-br-modifier -int 0

# Set keyboard repeat rate
defaults write NSGlobalDomain KeyRepeat -int 2
defaults write NSGlobalDomain InitialKeyRepeat -int 15

# Disable .DS_Store files being created on USB volumes
defaults write com.apple.desktopservices DSDontWriteUSBStores -bool true

# Set Zsh as default shell
{{ if (eq .chezmoi.arch "amd64") -}}
if [ "$SHELL" != "/usr/local/bin/zsh" ]
then
  chsh -s /usr/local/bin/zsh {{ .chezmoi.username }}
fi
{{ end }}

{{ if (eq .chezmoi.arch "arm") -}}
if [ "$SHELL" != "/bin/zsh" ]
then
  chsh -s /bin/zsh {{ .chezmoi.username }}
fi
{{ end }}

{{ end -}}
