{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -eufo pipefail

# Brewfile hash: {{ include "packages/Brewfile" | sha256sum }}

# Install packages
brew bundle --no-lock --file={{ .chezmoi.sourceDir }}/packages/Brewfile

{{ end -}}
