# -*- mode: sh -*-
###############################################################################
# This file is load **before** .zshrc
#
# Reminder:
# 1. `~/.zshenv` :         Usually run for every zsh
# 2. `$ZDOTDIR/.zprofile`: Run for login shells
# 3. `$ZDOTDIR/.zshrc`:    Run for interactive shells.`
# 4. `$ZDOTDIR/.zlogin`:   Run for login shells (**after** .zshrc)

# Disable zsh session folder completely - https://superuser.com/a/1610999/74190
export SHELL_SESSIONS_DISABLE=1
export ZSH_COMPDUMP="${ZSH_CACHE_DIR=:-$HOME}/.zcompdump-${SHORT_HOST}-${ZSH_VERSION}"

{{ if eq .chezmoi.os "darwin" -}}

{{ if stat "/opt/homebrew/bin/brew" -}}
fpath+=("$(/opt/homebrew/bin/brew --prefix)/share/zsh/site-functions")
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else if stat "/usr/local/bin/brew" -}}
fpath+=("$(/usr/local/bin/brew --prefix)/share/zsh/site-functions")
eval "$(/usr/local/bin/brew shellenv)"
{{ end -}}

{{- end }}
