{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -eufo pipefail

# Brewfile hash: {{ include "packages/Brewfile" | sha256sum }}

# Install Homebrew if needed
if [ ! -f /usr/local/bin/brew ]; then
  echo "Installing Homebrew ..."
  ruby -e "$(curl -fsSL https://raw.github.com/mxcl/homebrew/go/install)"
else
  echo "Homebrew already installed, trying to update ..."
  brew update && brew upgrade
fi

# Install packages
brew bundle --no-lock --file={{ .chezmoi.sourceDir }}/packages/Brewfile

{{- end }}
