[core]
	autoimport = true
	exportkeys = true
	parsing = true
	notifications = true
	nopager = false
	cliptimeout = 45
[mounts]
	path = {{ .chezmoi.homeDir }}/.local/share/gopass/stores/root
[age]
	usekeychain = false
[show]
	safecontent = false
[generate]
	autoclip = false
