{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" "linux-centos" -}}
#!/usr/bin/env bash

set -eufo pipefail

cd {{ .chezmoi.homeDir }}
rm -rf ~/.oh-my-zsh/
git clone https://github.com/ohmyzsh/ohmyzsh.git .oh-my-zsh/

{{ end -}}
