{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" "linux-centos" "linux-rocky" -}}
#!/usr/bin/env bash

set -eufo pipefail

if command -v apt-get >/dev/null; then
  sudo apt install -y age git unzip wget
elif command -v yum >/dev/null; then
  sudo yum -q -y install git python3 python3-pip unzip util-linux-user wget
else
  echo "Is this a Linux distro?"
fi

{{ end -}}
