{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" "linux-centos" "linux-rocky" -}}
#!/usr/bin/env bash

set -eufo pipefail

if command -v apt-get >/dev/null; then
  sudo apt install age git unzip -y
elif command -v yum >/dev/null; then
  sudo yum -q -y install git unzip util-linux-user
else
  echo "Is this a Linux distro..?"
fi

{{ end -}}
