# warning: GREP_OPTIONS is deprecated; please use an alias or script
#export GREP_OPTIONS='--color=auto'
export GREP_COLOR='1;37;41'

export PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin
export PATH=$HOME/bin:$PATH
export MANPATH="/usr/local/opt/coreutils/libexec/gnuman:$MANPATH"

export CLICOLOR=1
export LSCOLORS="ExGxBxDxCxEgEdxbxgxcxd"

export TERM=xterm-256color
export LC_CTYPE=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# History
# https://unix.stackexchange.com/questions/273861/unlimited-history-in-zsh
HISTFILE="$HOME/.zsh_history"
HISTSIZE=10000000
SAVEHIST=10000000
setopt BANG_HIST                 # Treat the '!' character specially during expansion.
setopt EXTENDED_HISTORY          # Write the history file in the ":start:elapsed;command" format.
setopt INC_APPEND_HISTORY        # Write to the history file immediately, not when the shell exits.
setopt SHARE_HISTORY             # Share history between all sessions.
setopt HIST_EXPIRE_DUPS_FIRST    # Expire duplicate entries first when trimming history.
setopt HIST_IGNORE_DUPS          # Don't record an entry that was just recorded again.
setopt HIST_IGNORE_ALL_DUPS      # Delete old recorded entry if new entry is a duplicate.
setopt HIST_FIND_NO_DUPS         # Do not display a line previously found.
setopt HIST_IGNORE_SPACE         # Don't record an entry starting with a space.
setopt HIST_SAVE_NO_DUPS         # Don't write duplicate entries in the history file.
setopt HIST_REDUCE_BLANKS        # Remove superfluous blanks before recording entry.
setopt HIST_VERIFY               # Don't execute immediately upon history expansion.
setopt HIST_BEEP                 # Beep when accessing nonexistent history.

# Ruby, Gems, RVM #####################################################
export PATH=/usr/local/lib/ruby/gems/3.1.0/bin:/usr/local/opt/ruby/bin:$PATH

# Homebrew ############################################################
export HOMEBREW_GITHUB_API_TOKEN={{ gopass "tokens/GH_pat" }}         # Create date: 20211122
export HOMEBREW_TEMP="/usr/local/tmp"
export HOMEBREW_NO_ANALYTICS=1

# Ansible #############################################################
export ANSIBLE_NOCOWS=1

# Go ##################################################################
export GOVERSION=$(brew list --versions go | cut -c 4-12)
export GOROOT=$(brew --prefix)/Cellar/go/$GOVERSION/libexec
export PATH=$PATH:$GOROOT/bin
export GOPATH=~/develop/gocode

# Virtual envs ########################################################
export VIRTUALENVWRAPPER_PYTHON=/usr/local/bin/python3
export WORKON_HOME=$HOME/.virtualenvs
export PROJECT_HOME=$HOME/Projects
source virtualenvwrapper.sh

# coreutils ###########################################################
export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"

# Python ##############################################################
export PATH="/usr/local/opt/python@3.10/bin:$PATH"

# Kubernetes ##########################################################
export KUBECONFIG={{ .chezmoi.homeDir }}/.kube/k3s.yaml
export KUBE_EDITOR="code -w"
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
source <(kubectl completion zsh)

# ZSH-related #########################################################
unsetopt nomatch
# Fish shell-like syntax highlighting for Zsh
source /usr/local/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
# iTerm2 integration
test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh" || true

# Hetzner Cloud #######################################################
#source <(hcloud completion zsh)

# Bind some keys, navigate back / forward #############################
bindkey "[D" backward-word
bindkey "[C" forward-word
bindkey "^[a" beginning-of-line
bindkey "^[e" end-of-line

# MacPorts ############################################################
export PATH=$PATH:/opt/local/bin:/opt/local/sbin

# OpenSSL #############################################################
export PATH="/usr/local/opt/openssl@3/bin:$PATH"

# Other ###############################################################
export DIRENV_WARN_TIMEOUT=60s

# Pipx ################################################################
export PATH="$PATH:{{ .chezmoi.homeDir }}/.local/bin"

# Tea #################################################################
PROG=tea _CLI_ZSH_AUTOCOMPLETE_HACK=1 source "/Users/hbokh/Library/Application Support/tea/autocomplete.zsh"
