# Env #################################################################
export GREP_COLOR='1;37;41'      # BSD grep
export GREP_COLORS='mt=1;37;41'  # GNU grep
export CLICOLOR=1
export LSCOLORS="ExGxBxDxCxEgEdxbxgxcxd"
export LS_COLORS="$(vivid generate molokai)"
export TERM=xterm-256color
export LC_CTYPE=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export EDITOR=vim

# History  ############################################################
# https://unix.stackexchange.com/questions/273861/unlimited-history-in-zsh
HISTFILE="$HOME/.zsh_history"
HISTSIZE=10000000
SAVEHIST=10000000
setopt BANG_HIST                 # Treat the '!' character specially during expansion.
setopt EXTENDED_HISTORY          # Write the history file in the ":start:elapsed;command" format.
setopt INC_APPEND_HISTORY        # Write to the history file immediately, not when the shell exits.
setopt SHARE_HISTORY             # Share history between all sessions.
setopt HIST_EXPIRE_DUPS_FIRST    # Expire duplicate entries first when trimming history.
setopt HIST_IGNORE_DUPS          # Don't record an entry that was just recorded again.
setopt HIST_IGNORE_ALL_DUPS      # Delete old recorded entry if new entry is a duplicate.
setopt HIST_FIND_NO_DUPS         # Do not display a line previously found.
setopt HIST_IGNORE_SPACE         # Don't record an entry starting with a space.
setopt HIST_SAVE_NO_DUPS         # Don't write duplicate entries in the history file.
setopt HIST_REDUCE_BLANKS        # Remove superfluous blanks before recording entry.
setopt HIST_VERIFY               # Don't execute immediately upon history expansion.
setopt HIST_BEEP                 # Beep when accessing nonexistent history.

# Ansible #############################################################
export ANSIBLE_NOCOWS=1

{{ if eq .chezmoi.os "linux" -}}
export PATH=~/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin
export VIRTUALENVWRAPPER_PYTHON=/usr/bin/python3
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
# Homebrew ############################################################
export MANPATH="$HOMEBREW_PREFIX/opt/coreutils/libexec/gnuman:$MANPATH"
export HOMEBREW_TEMP="$HOMEBREW_PREFIX/tmp"
#export HOMEBREW_NO_ANALYTICS=1

# Go ##################################################################
export GOVERSION=$(brew list --versions go | cut -c 4-12)
export GOROOT=$(brew --prefix)/Cellar/go/$GOVERSION/libexec
export PATH=$PATH:$GOROOT/bin
export GOPATH=~/develop/gocode

# coreutils ###########################################################
#export PATH="$HOMEBREW_PREFIX/opt/coreutils/libexec/gnubin:$PATH"

# Python 3 ############################################################
export VIRTUALENVWRAPPER_PYTHON=$HOMEBREW_PREFIX/bin/python3
export PATH="$HOMEBREW_PREFIX/opt/python@3/bin:$PATH"

# OpenSSL #############################################################
export PATH="$HOMEBREW_PREFIX/opt/openssl@3/bin:$PATH"

# Other ###############################################################
export DYLD_LIBRARY_PATH=`brew --prefix molten-vk`/lib

# Kubernetes ##########################################################
export KUBE_EDITOR="code -w"
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
{{ end -}}

# More Kubernetes #####################################################
export KUBECONFIG={{ .chezmoi.homeDir }}/.kube/default.yaml
source <(kubectl completion zsh)

# Python virtual envs #################################################
export VIRTUAL_ENV_HOME=$HOME/.virtualenvs
export WORKON_HOME=$HOME/.virtualenvs
{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" -}}
source /usr/share/virtualenvwrapper/virtualenvwrapper.sh
{{ else -}}
source virtualenvwrapper.sh
{{ end }}

# ZSH-related #########################################################
export ZSH_COMPDUMP=$ZSH_CACHE_DIR/.zcompdump-$HOST
unsetopt nomatch
# Fish shell-like syntax highlighting for Zsh
source "${HOME}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
# iTerm2 integration
test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh" || true

# Bind some keys, navigate back / forward #############################
bindkey "[D" backward-word
bindkey "[C" forward-word
bindkey "^[a" beginning-of-line
bindkey "^[e" end-of-line

# Other ###############################################################
export GITHUB_USERNAME=hbokh
export PROJECT_HOME=$HOME/Projects
export DIRENV_WARN_TIMEOUT=60s
export PATH="{{ .chezmoi.homeDir }}/bin:{{ .chezmoi.homeDir }}/.local/bin:$PATH"
#export PATH="$HOMEBREW_PREFIX/opt/openjdk/bin:$PATH"
export DOCKER_DEFAULT_PLATFORM=linux/amd64
export RIPGREP_CONFIG_PATH=$XDG_CONFIG_HOME/ripgrep/config
source <(chezmoi completion zsh)
