[core]
	autoimport = true
	exportkeys = true
	autoclip = false
	parsing = true
	showsafecontent = false
	notifications = true
	nopager = false
	cliptimeout = 45
[mounts]
  path = {{ .chezmoi.homeDir }}/.local/share/gopass/stores/root
[age]
	usekeychain = false
